body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    min-height: 300px;
    background-image: url("../img/big_background.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content:center;

    position: relative;
    z-index: 1;
    padding: 20px;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

header h1, header p {
    color: #FFF;
    text-align: center;
    margin: 10px 0;
    font-size: 34px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    z-index: 1;
}

header p {
    font-size: 24px;
    margin: 0;
}


header img {
    border-radius: 50%;
    border: 3px solid #FFF;
    height: 150px;
    flex-basis: 150px;
    margin: 0 30px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(231,166,26,0.6);
    -moz-box-shadow: 0px 0px 5px 5px rgba(231,166,26,0.6);
    box-shadow: 0px 0px 5px 5px rgba(231,166,26,0.6);
    z-index: 0;
}

nav {
    height: 60px;
    background-color: #F29F05;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    position: relative;
    z-index: 99;
}

nav ul,
nav ul li
{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 5px 3px 5px;
    font-size: 16px;
}

nav ul li a:hover {
    color: #0A2459;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav ul li a.active {
    border-bottom: 3px solid white;
}

section {
    background-color: #FFF;
    min-height: 200px;
    padding: 20px 0;
    /* To push the footer till the end of the document
       150px = footer height
        60px = nav height
       340px = header height
    */
    min-height: calc(100vh - 150px - 60px - 340px);
}

.columnLayout {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowLayout {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

section h2 {
    color: #F29F05;
    flex-basis: 100%;
    text-align: center;
}

section:nth-child(even){
    background-color: #C9DBF2;
}

section:nth-child(even) h2 {
    color: #0A2459;
}

section .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.aboutIcons {
    width: 100px;
    margin: 5px 20px;
}

.aboutPar {
    font-size: 20px;
    color: #666;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
    max-width: 650px;
    line-height: 25px;
}

footer {
    background-color: #0A2459;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    text-align: center;
    color: #C9DBF2;
    font-size: 15px;
}

#socialMediaList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#socialMediaList li
{
    margin: 10px;
}

.socialMediaIcon {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    transition: transform .2s; /* Animation */
}

.socialMediaIcon:hover {
    opacity: 1;
    position: relative;
    transform: scale(1.3);
}


.expSquare {
    margin: 20px 20px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.expIcons {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform .2s; /* Animation */
}

.expIcons:hover {
    transform: scale(1.1);
}

.expDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.expRole,
.expCompany,
.expPeriod,
.expLocation {
    color: gray;
    margin: 3px 0;
}

.expRole {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.expCompany {
    color: black;
}

.projComponent,
.projComponent * {
    /* border: 1px solid red; */
}

.projComponent {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ccc;
    margin: 20px;
}

.projPrev {
    width: 100%;
}

.projIcon {
    width: 25px;
    margin-top: 5px;
}

.projComponentHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin: 20px 20px 0 20px;
    border-bottom: 1px solid #ccc;
}

.projComponentHeader h3 {
    font-size: 20px;
    margin: 0 5px 0 0;
}

.projComponent p
{
    color: #666;
    font-size: 16px;
    margin: 0;
    padding: 20px 0 10px;
    line-height: 22px;
}

.projLink {
    border-top: 1px solid #ccc;
}

.projComponent a 
{
    color: black;
    text-decoration: none;
    font-weight: bold
}

.projComponent a:hover
{
    color: #F29F05;
    text-decoration: underline;
    font-weight: bold
}

.projComponentContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 10px 20px;
}


@media screen and (min-width: 769px)  {

    .aboutPar {
        text-align: left;
    }

    section .row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}