
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker&display=swap');

/* Common CSS styles shared between every page of the portfolio */

body {
    font-family: 'Permanent Marker', cursive;
}

header {
    min-height: 300px;
    background-image: url("../img/big_background.jpg"); /* The image used */
    background-image: url("../img/brick_texture.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content:center;

    position: relative;
    z-index: 1;
    padding: 20px;
}

/* Style needed to darken the big hero background */

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

header h1, header p {
    color: #FFF;
    text-align: center;
    margin: 10px 0;
    font-size: 34px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    z-index: 1;
}

header p {
    font-size: 24px;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

/* Making my avatar picture round as a circle */

header img {
    border-radius: 50%;
    border: 3px solid #FFF;
    height: 150px;
    flex-basis: 150px;
    margin: 0 30px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(231,166,26,0.6);
    -moz-box-shadow: 0px 0px 5px 5px rgba(231,166,26,0.6);
    box-shadow: 0px 0px 5px 5px rgba(231,166,26,0.6);
    z-index: 0;
}

/* Navigation bar (orange) */

nav {
    height: 60px;
    background-color: #F29F05;
    background-size: cover; /* Resize the background image to cover the entire container */
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    position: relative;
    z-index: 99;
}

/* Styling each item/link in the navigation bar */
nav ul,
nav ul li
{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 5px 3px 5px;
    font-size: 16px;
}


/* Hover effect on the links */

nav ul li a:hover {
    color: #0A2459;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

nav ul li a.active {
    border-bottom: 3px solid white;
}

section {
    background-color: #FFF;
    min-height: 200px;
    padding: 20px 0;
    /* To push the footer till the end of the document
       150px = footer height
        60px = nav height
       340px = header height
        40px = 20px of padding (top and bottom)
    */
    min-height: calc(100vh - 150px - 60px - 340px - 40px);
}

/* Basic FLEXBOX style to apply a column layout */

.columnLayout {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basic FLEXBOX style to apply a row layout */

.rowLayout {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

section h2 {
    color: #F29F05;
    flex-basis: 100%;
    text-align: center;
}

section:nth-child(even){
    background-color: #C9DBF2;
}

section:nth-child(even) h2 {
    color: #0A2459;
}

/* Specific style for "index / about me" page */

section .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

section .row a {
    text-decoration: none;
    color: #666;
}

/* Changing color on the "Download my resume" link */

section .row a:hover {
    text-decoration: underline;
    color: #F29F05;
}

/* index icons' style */

.aboutIcons {
    width: 100px;
    margin: 5px 20px;
}

/* index paragraphs' styles */

.aboutPar {
    font-size: 20px;
    color: #666;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
    max-width: 650px;
    line-height: 25px;
}

/* START of footer commong styles */

footer {
    background-color: #0A2459;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    text-align: center;
    color: #C9DBF2;
    font-size: 15px;
}

#socialMediaList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#socialMediaList li
{
    margin: 10px;
}

.socialMediaIcon {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    transition: transform .2s; /* Animation */
}

.socialMediaIcon:hover {
    opacity: 1;
    position: relative;
    transform: scale(1.3);
}

/* END of footer commong styles */

/* START of EXPERIENCE page styles */

.expSquare {
    margin: 20px 20px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.expIcons {
    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform .2s; /* Animation */
}

.expIcons:hover {
    transform: scale(1.1);
}

.expDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.expRole,
.expCompany,
.expPeriod,
.expLocation {
    color: gray;
    margin: 3px 0;
}

.expRole {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.expCompany {
    color: black;
}

/* This is risky as this class is not my own, but comes with the
   external carousel library which, unfortunately does not fit
   into my original layout.
*/
.main-carousel {
    margin-bottom: 40px;
}

/* END of EXPERIENCE page styles */

/* START of PROJECTS page styles */

.projComponent {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ccc;
    margin: 20px;
}

.projPrev {
    width: 100%;
}

.projIcon {
    width: 25px;
    margin-top: 5px;
}

.projComponentHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin: 20px 20px 0 20px;
    border-bottom: 1px solid #ccc;
}

.projComponentHeader h3 {
    font-size: 20px;
    margin: 0 5px 0 0;
}

.projComponent p
{
    color: #666;
    font-size: 16px;
    margin: 0;
    padding: 20px 0 10px;
    line-height: 22px;
}

.projLink {
    border-top: 1px solid #ccc;
}

.projComponent a 
{
    color: black;
    text-decoration: none;
    font-weight: bold
}

.projComponent a:hover
{
    color: #F29F05;
    text-decoration: underline;
    font-weight: bold
}

.projComponentContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 10px 20px;
}

/* END of PROJECTS page styles */

/* START of BLOG page styles */

.postComponent {
    margin: 20px;
}

.postComponent * {
    padding: 0;
    margin: 0;
}

.postContent,
.postHeader,
.postFooter {
    margin: 20px;
}

.postContent {
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.postComponent {
    max-width: 700px;
    border: 1px solid #ccc;
}

.postHeader {
    display: flex;
    flex-wrap: wrap;
}

.postMetadata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.postHeader h3 {
    margin-top: 10px;
    flex-basis: 100%;
}

.postAuthorIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc ;
    padding: 2px;
}

.postAuthor{
    color: #000;
    font-size: 16px;
}

.postDate {
    color: #bbb;
    margin: 0;
    font-size: 16px;    
}

.postReadMore {
    margin-top: 10px;
    color: #bbb;
    text-decoration: underline;
    align-self: flex-end;
}

.postReadMore:hover {
    color: #F29F05;
}

.postWithImg {
    margin: 10px 0;
    width: 100%;
}

.postFooter {
    color: #bbb;
    display: flex;
    align-items: flex-end;
}

.postCountLike {
    margin-left: 10px;
}

.postResponses {
    flex-grow: 1;
    text-align: right;
    margin-right: 10px;
}

.postLike,
.postComment {
    width: 22px;
    height: 22px;
}

.postLong {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* END of BLOG page styles */

/* Media queries */

@media screen and (min-width: 769px)  {

    /* In the "index/about-me" page, when the screen is wide enough, paragraphs are re-arranged horizontally */
    .aboutPar {
        text-align: left;
    }

    /* When the screen is wide enough, icons and text alternate positions */
    section .row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

